.board {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 7px solid #aaa;
}
@media (max-width: 900px) {
  .board {
    border: 2px solid #aaa;
  }
}
.dark .board {
  border: 5px solid #3e42a5;
}
.board.easy {
  max-width: 500px;
}
@media (max-width: 900px) {
  .board.easy {
    max-width: 400px;
    width: 400px;
  }
}
.board.medium {
  max-width: 495px;
}
@media (max-width: 900px) {
  .board.medium {
    max-width: 450px;
    width: 450px;
  }
}
.board.hard {
  max-width: 550px;
}
@media (max-width: 900px) {
  .board.hard {
    max-width: 475px;
    width: 475px;
  }
}
.board.disabled {
  pointer-events: none;
}